    @import 'settings',
  "foundation/components/accordion",
//   "foundation/components/alert-boxes",
  'foundation/components/block-grid',
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
  "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
  'foundation/components/forms',
  'foundation/components/grid',
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
  'foundation/components/labels',
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
  "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
  'foundation/components/top-bar',
  'foundation/components/type',
//   "foundation/components/offcanvas",
  'foundation/components/visibility';

a > i {
    margin-right: rem-calc(5);
}

li.brand > a {
    font-size: $topbar-height * .4;

    color: $gt-gold;
    img {
        height: $topbar-height;
    }
}

textarea {
    height: auto;
}

section > div.row:first-of-type {
    margin-bottom: $paragraph-margin-bottom / 2;
}

.small-block-grid-2 img {
    opacity: .3;
}

.anchor {
    margin: -$topbar-height auto $topbar-height;
    padding-top: 2 * $topbar-height;
}

article > header.row {
    margin: $topbar-height/4 auto;
}

article {
  margin-bottom: 1.5 * $topbar-height;
}

article:last-of-type {
  margin-bottom: 25vh;
}